%ul.nav.navbar-nav.navbar-right
  %li.dropdown
    %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
      %span.glyphicon.glyphicon-user
      %b.caret
    %ul.dropdown-menu
      %li
        %a{:href => "#"} Profile
      %li
        %a{:href => "#"} Manage Profile
      %li.divider
      %li= link_to('Logout', destroy_user_session_path, :method => :delete)