.page-header
  %h3= @project.name

%p#notice= notice

%ul.nav.nav-tabs
  %li.active
    %a{href: "#"} Overview
  %li
    %a{href: "#"} Settings
  %li
    %a{href: "#"} Members
  %li
    %a{href: "#"} Reports
  %li
    %a{href: "#"} Integrations
