/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require 'bootstrap'
 *= require_self
 */


body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.page-header .btn {
	margin-top: 15px;
}

.infobox {

}

.infobox-hdr {
  padding-bottom: 2px;
  margin: 20px 0 10px;
  border-bottom: 1px solid #eeeeee;
}

.infobox-hdr h4 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #bbb;
}